<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="//at.alicdn.com/t/c/font_4246394_h03pitemhs.css">
  <script src="https://unpkg.com/lodash@4.17.21/lodash.min.js"></script>
  <script src="https://unpkg.com/echarts@5.4.3/dist/echarts.min.js"></script>
</head>

<body>
  <!-- antd theme less -->
  <noscript id="inject-styles-here">You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>

</html>